/youtube/Building Microservices with Go 2. Introduction to microservices- continued.mp4
/youtube/Introduction to microservices -Ep. 1-.mp4
/youtube/Learn Go Programming by Building 11 Projects – Full Course.mp4

.idea
/leetcode/.idea
/youtube/go-movies-crud/.idea
/udemy/project1/.idea
/udemy/card/.idea
/practical-go-lessons/.idea
/youtube/go-weather/.apiConfig
/youtube/go-weather/.apiConfig
